.pf-container{
    border: 3px solid rgb(44, 140, 17);
    width: 100%;
    height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.plant-form > label {
    margin: 10px;
}
.plant-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}
.submit-btn {
    padding: 5px;
}