.g-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #FFE3A9;
}
.g-title {
    font-family: 'Playfair Display', serif;
    color: black;
    margin-top: 15px;
}