.navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #A4D0BB;
    height: 60px;
  
  }
  .navbar-logo {
    font-size: 1.8rem;
    margin: .5rem;
    font-family: 'Playfair Display', serif;

    text-decoration: none;
    color: white;
    margin-top: 0.5rem;
  
  
  }
  .navbar-list {
    margin: 0;
    padding: 0;
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,26,121,1) 69%);}
  .nav-item {
    list-style: none;
    margin: .5rem;
    text-align: center;
    font-size: large;
    font-weight: 500;
    padding: 1rem;
  }
  .nav-item:hover{
    background-color: #EAEAEA;
    
  }
  .nav-links {
    text-decoration: none;
    color: white;
    padding: 1rem;
    
    /* display: none; */
  }
  .nav-links:hover {
    color: #E5A587;
  }
  .menu-icon {
    position:absolute;
    cursor: pointer;
    top: .50rem;
    right: 1rem;
    padding: .5rem;
    color: white;
    font-size: large;
  
  }
  .menu-icon:hover{
    background-color: #EAEAEA;
    color: #A4D0BB;
  }
  .fa-bars {
    height: 21px;
  }
  .navbar-list.active {
    display: flex;
    z-index: 1;
    /* transition: all 0s ease-in-out; */
  }