.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #A4D0BB;
    height: 60px;
  
  }
  .navbar-logo {
    font-size: 1.8rem;
    margin: .5rem;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    color: white;
    
  }
  .user-div{

  }
  .user-link {
    margin: 10px;
    text-decoration: none;
    color: white;
    padding: 1rem;
  }
  .user-link:hover {
    background-color: white;
  }
  .navbar-list {
    /* margin: 0;
    padding: 0; */
    display: flex;
    flex-direction: row;
    
  }
  .nav-item {
    list-style: none;
    margin: .5rem;
    text-align: center;
    font-size: large;
    font-weight: 500;
    padding: 1rem;
  }
  .nav-item:hover{
    background-color: #EAEAEA;
    
  }
  .nav-links {
    text-decoration: none;
    color: white;
    padding: 1rem;
    
    /* display: none; */
  }
  .nav-links:hover {
    color: #E5A587;
  }
  .navbar-list.active {
    display: flex;
    z-index: 1;
    /* transition: all 0s ease-in-out; */
  }